* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: rgb(75, 75, 75);
    padding: 10px 0;
    color: white;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: white;
    text-decoration: none;
}

header li a:hover {
    text-decoration: underline;  
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /* height: 180px; */
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article 
{
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
    border-radius: 6px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgba(0, 255, 0, 0.1);
}

#sports .articles article a {
    background-color: green;
}

#economy {
    background-color: rgb(252, 252, 175);
}

#economy .articles article a {
    background-color: rgb(233, 152, 3);
}

#entertainment {
    background-color: rgba(148, 148, 224, 0.288);
}

#tecnology {
    background-color: rgba(235, 107, 107, 0.226);
}

#tecnology .articles article a {
    background-color: red;
}

img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}